@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #090d16;
    --foreground: #f1f5f9;

    --muted: #0f172a;
    --muted-foreground: #94a3b8;

    --popover: #090d16;
    --popover-foreground: #f1f5f9;

    --card: #0d1321;
    --card-foreground: #f1f5f9;

    --border: #1e293b;
    --input: #1e293b;

    --primary: #4f46e5;
    --primary-foreground: #f8fafc;

    --secondary: #0f172a;
    --secondary-foreground: #f8fafc;

    --accent: #1e293b;
    --accent-foreground: #f8fafc;

    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;

    --ring: #6366f1;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    background-image:
      radial-gradient(at 0% 0%, rgba(79, 70, 229, 0.08) 0px, transparent 50%),
      radial-gradient(
        at 100% 100%,
        rgba(99, 102, 241, 0.05) 0px,
        transparent 50%
      );
    background-attachment: fixed;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
